
* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 20px;
}

#calculatorWrap {
    display: flex;
    flex-direction: column;
    background-color: rgb(51, 45, 86);
    height: 80vh;
    width: 30vw;
    padding: 30px 40px;
    border-radius: 20px;
}

#display {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    color: rgb(255, 255, 255);
    font-family:'Orbitron';
    background-color: rgb(75, 75, 75);
    flex: 1;
    margin: 0 0 15px;
    height: 26px;

}

h2 {
    font-size: 2.5vw;
}


#numberWrap {
    display: flex;
    flex-direction: column;
    background-color: rgb(78, 102, 136);
    max-height: 85%;
    justify-content: center;
    align-content: space-around;
}


.number {
    display: flex;
    flex-wrap: wrap;
    font-size: calc(1.2rem + 0.5vw);
    justify-content: center;
    align-content: center;
}


.operator {
    display: flex;
    flex-wrap: wrap;
    font-size: calc(1.2rem + 0.5vw);
    justify-content: center;
    align-content: center;
    
}

button {
    display: flex;
    background-color: rgb(113, 192, 187);
    color: rgb(0, 0, 0);
    flex: 1;
    padding: 0;
    margin: 0;
    border: 1px solid rgb(47, 130, 124);
}

button:hover {
    background-color: rgb(136, 230, 223);
    color: rgb(78, 102, 136)
}

.row {
    display: flex;
    flex-direction: row; 
    height: 12vh;
}

.row2ndlast {
    display: flex;
    flex-direction: row;
    height: 12vh;
    flex: 0 0 25%;
}

#zero {
    flex: 0 0 50%;
}

